body {
  height: 100%;
  width: 100%;
  background-color: #e7effa;
  font-family: 'Albert Sans';
  color: #3f7fd7;
}
.header {
  display: flex;
  background-color: #bdd3f1;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  margin: 3vh;
}

.header a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
}

.logo {
  padding: 0;
  margin: 0;
}

.login {
  margin-right: 0px; 
}
.col1 {
  float: left;
  width: 65vw;
  margin: 3vh;
  margin-top: 0%;
  height: 100%;
}
  .forecast-container {
    height: 25vh;
    margin-bottom: 5vh;
  }
  .forecast {
    background-color: #a8c5ed;
    border-radius: 15px;
    height: 100%;
    padding: 10px;
  }

  .rec-container {
    float: left;
    width: 30vw;
  }
  .recs {
    float:left;
    width: 45vw;
    background-color: #a8c5ed;
    border-radius: 15px;
    padding: 10px;
    height: 53.5vh;
  }

  .weekly-container {  
    float: right;
    width: 25%;
    margin-left: 1%;
  }
  .weekly-forecast {
    float: right;
    width: 100%;
    background-color: #a8c5ed;
    border-radius: 15px;
    padding: 10px;
    height: 53.5vh;
  }

.alert-container {
  float: left;
  width: 21%; 
  margin: 2%;
  margin-top: 0%;
  margin-right: 2%;
  height: 100%;
}
.alerts {
  width: 100%;
  background-color: #a8c5ed;
  border-radius: 15px;
  padding: 10px;
  height: 83.5vh;
}

.holder:after {
  content: "";
  display: table;
  clear: both;
}


.images {
  margin-right: 5px;
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* margin: 2%;
  padding: 2%; */
  height: 30vh;
  
}

.Test {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3vh;
}

.location {
  width: 70%;
  float: left;
  font-size: large;
  margin-top: 2vh;
  margin-left: 2vw;
  height: 3vh;
}
.desc {
  width: 30vw;
  text-align: right;
  font-size: large;
  margin-top: 2vh;
  margin-right: 2vw;
  height: 3vh;
}
.temperature{
  width: 20vh; /* Adjust this value based on your design */
  font-size: 50px;
  margin-top: 5vh;
  margin-left: 2vw;
  float: left;
  height: 4vh;
  
}
.weather-icon {
  width: 10vw; /* Adjust this value based on your design */
  float: right;
  height: 5vh;
  margin-top: 1vh;
  margin-right: 2vw;
}
.column {
  width: 30vw;
  margin: 2vh;
  padding: 2vh;
  background: rgba(94, 125, 168, .3);
  text-align: center;
  border-radius: 15px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;;
}
