body {
  height: 100%;
  width: 100%;
  background-color: #e7effa;
  font-family: 'Albert Sans';
  color: #3f7fd7;
}
.header {
  display: flex;
  background-color: #bdd3f1;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  margin: 2%;
}

.header a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
}

.logo {
  padding: 0;
  margin: 0;
}

.login {
  margin-right: 0px; 
}
.col1 {
  float: left;
  width: 68%;
  margin: 2%;
  margin-top: 0%;
  height: 100%;
}
  .forecast-container {
    height: 200px;
    margin-bottom: 7%;
  }
  .forecast {
    background-color: #a8c5ed;
    border-radius: 15px;
    height: 100%;
    padding: 10px;
  }

  .rec-container {
    float: left;
    width: 63%;
  }
  .recs {
    float:left;
    width: 100%;
    background-color: #a8c5ed;
    border-radius: 15px;
    padding: 10px;
    height: 405px;
  }

  .weekly-container {  
    float: right;
    width: 25%;
    margin-left: 1%;
  }
  .weekly-forecast {
    float: right;
    width: 100%;
    background-color: #a8c5ed;
    border-radius: 15px;
    padding: 10px;
    height: 405px;
  }

.alert-container {
  float: left;
  width: 21%; 
  margin: 2%;
  margin-top: 0%;
  margin-right: 2%;
  height: 100%;
}
.alerts {
  width: 100%;
  background-color: #a8c5ed;
  border-radius: 15px;
  padding: 10px;
  height: 650px;
}

.holder:after {
  content: "";
  display: table;
  clear: both;
}


.images {
  margin-right: 5px;
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: left;
  /* margin: 2%;
  padding: 2%; */
}

.Test {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.location {
  width: 70%;
  float: left;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
}
.desc {
  width: 30%;
  text-align: right;
  font-size: large;
  margin-top: 2%;
  margin-right: 2%;
}
.temperature{
  width: 30%; /* Adjust this value based on your design */
  font-size: 50px;
  margin-top: 6%;
  margin-left: 5%;
  float: left;
}
.weather-icon {
  width: 30%; /* Adjust this value based on your design */
  float: right;
}
.column {
  width: 30%;
  /* margin-left: 4%; */
  padding: 2%;
  background: rgba(94, 125, 168, .3);
  text-align: center;
  border-radius: 15px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;;
}
